body {
    background-color: black;
    color: white;
}

.body {
    display: flex;
    flex-direction: column;
}

.HeaderButton {
    display: flex;
    justify-content: right;
}

.AboutMeButton {
    background-color: black;
    width: 129px;

    margin-right: 10px;
    padding: 10px;
    border-radius: 10px;
    
    cursor: pointer;
}

.AboutMeButton a {
    all: unset;
    color: white;
    font-size: 18px;
}

.Contact {
    width: 129px;

    padding: 10px;
    border-radius: 10px;

    font-size: 18px;

    cursor: pointer;
}

.DivProfilePicture {
    display: flex;
    justify-content: center;

    margin-top: 10vh;
}

.ProfilePicture {
    border-radius: 50%;
    width: 20vw;
}

.Name {
    display: flex;
    justify-content: center;

    font-size: 40px;
    font-weight: 900;

    background-image: linear-gradient(to right, darkblue, darkblue, brown, brown);
    color: transparent;
    background-clip: text;
}

.Intro {
    max-width: 50%;
    margin: 0 auto;

    font-size: 18px;
}

.DivContactMe {
    margin-top: 30px;

    display: flex;
    justify-content: center;
}

.ContactMe {
    background-color: black;
    color: white;
    
    cursor: pointer;
    
    width: 129px;
    
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;

    font-size: 18px;
}

.AboutMe {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutMe h1 {
    font-size: 45px;
    font-weight: 900;

    background-image: linear-gradient(to right, darkblue, brown);
    color: transparent;
    background-clip: text;
}

.AboutMe p {
    max-width: 50vw;
    text-align: justify;
}

.SchoolProjects {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SchoolProjects h1 {
    font-size: 45px;
    font-weight: 900;

    background-image: linear-gradient(to right, darkblue, brown);
    color: transparent;
    background-clip: text;
}

.PersonnalProjects {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PersonnalProjects h1 {
    font-size: 45px;
    font-weight: 900;

    background-image: linear-gradient(to right, darkblue, brown);
    color: transparent;
    background-clip: text;
}

.popupContact {
    position: fixed;
    top: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);
    z-index: 10;
}

.popupContact .div {
    background: rgba(0, 0, 0, 0.5);
    width: 50%;

    border-radius: 25px;

    display: flex;
    flex-direction: column;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupContact .closePopup {
    width: fit-content;
    padding: 5px;
    border-radius: 100%;

    background: none;
    border: none;
    cursor: pointer;

    color: white;
    font-size: 18px;
    font-weight: bold;

    position: absolute;
    right: 10px;
}

.popupContact a {
    all: unset;
    cursor: pointer;

    background-image: linear-gradient(to right, red, yellow);
    color: transparent;
    background-clip: text;
}

.Footer {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.Invert {
    filter: invert(1);
}

.Logo {
    width: 50px;
}

.SchoolProjectsDetail {
    display: flex;
    max-width: 70%;
    overflow-x: auto;
}

.PersonnalProjectsDetail {
    display: flex;
    max-width: 70%;
    overflow-x: auto;
}

.marquee-content-slot {
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;

    border: 1px solid white;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;

    height: 50vh;

    cursor: help;
}

.marquee-content-div {
    width: 20vw;
    margin-bottom: 70px;
}

.marquee-content-slot-name {
    float: left;
}

.marquee-content-slot-langage {
    float: right;
}

.popupBackground {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.popupBody {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    
    width: 65%;
    max-height: 90%;
    
    border: 1px solid white;
    border-radius: 10px;
    
    margin: 2px;
    padding: 1%;
    
    overflow-y: auto;

    position: relative;

    text-align: center;
}

.popupHeader {
    display: flex;
}

.closeBtn {
    position: fixed;
    
    border: none;
    border-radius: 100%;

    padding: 5px;

    cursor: pointer;
}

.ExerciceName {
    margin: auto;
}

.langage {
    margin-right: 15px;
}

.githubLink {
    width: 50px;
}

img {
    max-width: 100%;
    border-radius: 10px;

    margin: 2% 0;
}

li {
    text-align: center;
    list-style-position: inside;
}

.DivImage {
    display: flex;
    flex-direction: column;
    align-items: center;
}